#postform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;

  label {
    margin-top: 1rem;
  }

  button {
    width: max-content;
    margin-top: 1rem;
  }

  .success {
    color: green;
    font-weight: bold;
    margin-top: 1rem;
  }

  .error {
    color: red;
    font-weight: bold;
  }

  .error::before {
    content: "⚠ ";
  }
}
