main {
  margin: 0 auto;
  padding: 1rem;
  min-width: 45ch;
  max-width: 65ch;
}

#postform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;

  label {
    margin-top: 1rem;
  }

  textarea {
    min-height: 50dvh;
    max-height: 80dvh;
  }

  button {
    width: max-content;
    margin-top: 1rem;
  }

  .error {
    color: red;
    font-weight: bold;
  }

  .error::before {
    content: "⚠ ";
  }
}
